In [2]:
import pandas as pd
import math

In [3]:
# Replace 'your_file.csv' with the path to your CSV file
file_path = './datathon_2024_dataset.csv'

# Read the CSV file into a pandas DataFrame
original_df = pd.read_csv(file_path)

print(original_df.head())

   Unnamed: 0  game_date home_team away_team  is_day_game  home_score  \
0           0   20000329       NYN       CHN        False           3
1           1   20000330       CHN       NYN        False           1
2           2   20000403       ATL       COL         True           2
3           3   20000403       CIN       MIL         True           3
4           4   20000403       FLO       SFN        False           6

   away_score  venue        venue_name        city  ... home_hbp  away_pa  \
0           5  TOK01        Tokyo Dome       Tokyo  ...        1       38
1           5  TOK01        Tokyo Dome       Tokyo  ...        1       44
2           0  ATL02      Turner Field     Atlanta  ...        0       32
3           3  CIN08     Cinergy Field  Cincinnati  ...        0       20
4           4  MIA01  Sun Life Stadium       Miami  ...        0       38

   away_1b  away_2b  away_3b  away_hr  away_fo  away_so  away_bb  away_hbp
0        5        1        0        1       24        4        3         0
1        5        0        0        0       24        9        6         0
2        5        0        0        2       17        6        1         1
3        3        1        0        1       10        4        1         0
4        9        3        0        0       17        7        1         1

[5 rows x 29 columns]

In [4]:
location_file_path = './cities_coordinates.xlsx'
location_df = pd.read_excel(location_file_path)
print(location_df.head())

         city  latitude  longitude
0     Atlanta   33.7490   -84.3880
1  Cincinnati   39.1031   -84.5120
2       Miami   25.7617   -80.1918
3    Montreal   45.5017   -73.5673
4    New York   40.7128   -74.0060

In [5]:
# Calculat the distance between two points.

def haversine(lat1, lon1, lat2, lon2):
    # 将经纬度转换为弧度
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])

    # Haversine公式
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = math.sin(dlat / 2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    # 地球半径（单位：公里）
    radius = 6371.0

    # 计算距离
    distance = radius * c

    return distance

# 示例：两个地点的经纬度
lat1, lon1 = 37.7749, -122.4194  # 地点1（例如，旧金山）
lat2, lon2 = 34.0522, -118.2437  # 地点2（例如，洛杉矶）

# 计算距离
result = haversine(lat1, lon1, lat2, lon2)
print(f"distance is：{result:.2f} ")

distance is：559.12

In [6]:
#print out all city names

# Delelete all rows with city "Tokyo", "London", "Sydney",  "San Juan", "Monterrey"
original_df = original_df[original_df['city'] != 'Tokyo']
original_df = original_df[original_df['city'] != 'London']
original_df = original_df[original_df['city'] != 'Sydney']
original_df = original_df[original_df['city'] != 'San Juan']
original_df = original_df[original_df['city'] != 'Monterrey']

print(original_df['city'].unique())

# Count the number of unique city
print(original_df['city'].nunique())

['Atlanta' 'Cincinnati' 'Miami' 'Montreal' 'New York' 'St. Louis'
 'Anaheim' 'Baltimore' 'Minneapolis' 'Oakland' 'Arlington' 'Toronto'
 'Phoenix' 'Pittsburgh' 'Seattle' 'Houston' 'Kansas City' 'St. Petersburg'
 'Chicago' 'Denver' 'Milwaukee' 'Philadelphia' 'San Diego' 'San Francisco'
 'Boston' 'Detroit' 'Los Angeles' 'Cleveland' 'Washington'
 'Lake Buena Vista' 'Fort Bragg' 'Williamsport' 'Omaha' 'Buffalo'
 'Dunedin' 'Dyersville']
36

In [7]:
import pandas as pd

# Assuming df1 is the 30x3 table and df2 is the 5000xN table
# Replace these with your actual DataFrames

# Assuming both venue_name columns are of the same data type


# Merge the two DataFrames based on 'venue_name'
merged_df = pd.merge(original_df, location_df, on='city', how='inner')

# 'inner' will keep only the rows where venue_name exists in both tables

# Display the merged DataFrame

# Sort merged_df by game_date
merged_df = merged_df.sort_values(by='game_date')
print(merged_df.head(20))

       Unnamed: 0  game_date home_team away_team  is_day_game  home_score  \
0               2   20000403       ATL       COL         True           2
11692           8   20000403       ANA       NYA        False           2
13586           9   20000403       BAL       CLE         True           1
15476          10   20000403       MIN       TBA        False           0
6017            6   20000403       NYN       SDN         True           2
5656            5   20000403       MON       LAN        False           4
17369          11   20000403       OAK       DET        False           4
19257          12   20000403       TEX       CHA         True          10
21152          13   20000403       TOR       KCA         True           5
3781            4   20000403       FLO       SFN        False           6
1891            3   20000403       CIN       MIL         True           3
9802            7   20000403       SLN       CHN         True           7
21153          25   20000404       TOR       KCA        False           6
5657           18   20000404       MON       LAN        False           4
19258          24   20000404       TEX       CHA        False          12
22967          14   20000404       ARI       PHI        False           6
24858          19   20000404       PIT       HOU        False           2
1              15   20000404       ATL       COL        False           3
11693          20   20000404       ANA       NYA        False           3
1892           16   20000404       CIN       MIL        False           1

       away_score  venue                       venue_name         city  ...  \
0               0  ATL02                     Turner Field      Atlanta  ...
11692           3  ANA01         Angel Stadium of Anaheim      Anaheim  ...
13586           4  BAL12      Oriole Park at Camden Yards    Baltimore  ...
15476           7  MIN03     Hubert H. Humphrey Metrodome  Minneapolis  ...
6017            1  NYC17                     Shea Stadium     New York  ...
5656           10  MON02                  Stade Olympique     Montreal  ...
17369           7  OAK01  Oakland-Alameda County Coliseum      Oakland  ...
19257           4  ARL02    Rangers Ballpark in Arlington    Arlington  ...
21152           4  TOR02                    Rogers Centre      Toronto  ...
3781            4  MIA01                 Sun Life Stadium        Miami  ...
1891            3  CIN08                    Cinergy Field   Cincinnati  ...
9802            1  STL09                 Busch Stadium II    St. Louis  ...
21153           3  TOR02                    Rogers Centre      Toronto  ...
5657           10  MON02                  Stade Olympique     Montreal  ...
19258           8  ARL02    Rangers Ballpark in Arlington    Arlington  ...
22967           4  PHO01                      Chase Field      Phoenix  ...
24858           5  PIT07             Three Rivers Stadium   Pittsburgh  ...
1               5  ATL02                     Turner Field      Atlanta  ...
11693           5  ANA01         Angel Stadium of Anaheim      Anaheim  ...
1892            5  CIN08                    Cinergy Field   Cincinnati  ...

      away_1b  away_2b  away_3b  away_hr  away_fo  away_so  away_bb  away_hbp  \
0           5        0        0        2       17        6        1         1
11692       8        1        0        1       19        6        5         0
13586       4        2        0        0       16        8        7         0
15476       7        1        0        0       18        8        0         0
6017        2        1        0        1       16        7        2         1
5656        7        0        0        2       19        8        2         0
17369       0        0        0        4       18        9        3         0
19257       6        1        0        4       17        6        4         2
21152       3        1        0        4       20        5        0         0
3781        9        3        0        0       17        7        1         1
1891        3        1        0        1       10        4        1         0
9802        5        1        1        3       18        6        7         0
21153       2        3        0        2       20        4        4         2
5657        3        3        0        0       20        5        5         1
19258       7        3        0        2       15        9       10         0
22967       6        1        0        3       20        3        0         0
24858       5        0        0        1       21        5        3         1
1           3        2        0        1       23        4        4         1
11693      10        0        0        0       17        9        6         0
1892        2        1        0        1       22        5        1         0

       latitude  longitude
0       33.7490   -84.3880
11692   33.8366  -117.9143
13586   39.2904   -76.6122
15476   44.9778   -93.2650
6017    40.7128   -74.0060
5656    45.5017   -73.5673
17369   37.8044  -122.2712
19257   32.7357   -97.1081
21152   43.6532   -79.3832
3781    25.7617   -80.1918
1891    39.1031   -84.5120
9802    38.6270   -90.1994
21153   43.6532   -79.3832
5657    45.5017   -73.5673
19258   32.7357   -97.1081
22967   33.4484  -112.0740
24858   40.4406   -79.9959
1       33.7490   -84.3880
11693   33.8366  -117.9143
1892    39.1031   -84.5120

[20 rows x 31 columns]

In [14]:
'''# Add two columns: "team name: distance". 
# The distance is calculated by the distance between this row and the previous row with the same team name(either home or away team). If there is no row above with the same team name, the distance is 0.

# Create a new column 'distance' and set it to 0
merged_df['home_team_distance'] = 0

# Iterate through each row in the DataFrame
for index, row in merged_df.iterrows():
    # If this is not the first row
    if index > 0:
        # If the current row's team name is the same as the previous row's team name
        if row['home_team'] == merged_df.loc[index - 1, 'home_team'] or row['home_team'] == merged_df.loc[index - 1, 'away_team']:
            # Calculate the distance between the two rows
            distance = haversine(row['latitude'], row['longitude'], merged_df.loc[index - 1, 'latitude'], merged_df.loc[index - 1, 'longitude'])
            # Set the current row's distance to the calculated distance
            merged_df.loc[index, 'home_team_distance'] = distance

# Display the DataFrame
print(merged_df.head(20))'''

# Initialize the distance columns
merged_df['home_team_distance'] = 0
merged_df['away_team_distance'] = 0

# Dictionary to keep track of the last location of each team
last_locations = {}

# Iterate through each row in the DataFrame
for index, row in merged_df.iterrows():
    home_team = row['home_team']
    away_team = row['away_team']
    current_location = (row['latitude'], row['longitude'])
    
    # For home team
    if home_team in last_locations:
        # Calculate the distance from the last location
        last_location = last_locations[home_team]
        distance = haversine(current_location[0], current_location[1], last_location[0], last_location[1])
        merged_df.at[index, 'home_team_distance'] = distance
    last_locations[home_team] = current_location

    # For away team
    if away_team in last_locations:
        # Calculate the distance from the last location
        last_location = last_locations[away_team]
        distance = haversine(current_location[0], current_location[1], last_location[0], last_location[1])
        merged_df.at[index, 'away_team_distance'] = distance
    last_locations[away_team] = current_location

# Display the DataFrame
print(merged_df.head(50))

       Unnamed: 0  game_date home_team away_team  is_day_game  home_score  \
0               2   20000403       ATL       COL         True           2
11692           8   20000403       ANA       NYA        False           2
13586           9   20000403       BAL       CLE         True           1
15476          10   20000403       MIN       TBA        False           0
6017            6   20000403       NYN       SDN         True           2
5656            5   20000403       MON       LAN        False           4
17369          11   20000403       OAK       DET        False           4
19257          12   20000403       TEX       CHA         True          10
21152          13   20000403       TOR       KCA         True           5
3781            4   20000403       FLO       SFN        False           6
1891            3   20000403       CIN       MIL         True           3
9802            7   20000403       SLN       CHN         True           7
21153          25   20000404       TOR       KCA        False           6
5657           18   20000404       MON       LAN        False           4
19258          24   20000404       TEX       CHA        False          12
22967          14   20000404       ARI       PHI        False           6
24858          19   20000404       PIT       HOU        False           2
1              15   20000404       ATL       COL        False           3
11693          20   20000404       ANA       NYA        False           3
1892           16   20000404       CIN       MIL        False           1
17370          22   20000404       OAK       DET        False           3
3782           17   20000404       FLO       SFN        False           0
15477          21   20000404       MIN       TBA        False           6
26748          23   20000404       SEA       BOS        False           0
2              27   20000405       ATL       COL        False           9
22968          26   20000405       ARI       PHI        False          11
24859          32   20000405       PIT       HOU        False           2
26749          38   20000405       SEA       BOS        False           9
3783           29   20000405       FLO       SFN        False           9
5658           30   20000405       MON       LAN        False           6
11694          34   20000405       ANA       NYA        False          12
17371          37   20000405       OAK       DET         True           8
1893           28   20000405       CIN       MIL        False           5
15478          36   20000405       MIN       TBA        False          10
6018           31   20000405       NYN       SDN        False           0
19259          39   20000405       TEX       CHA         True           8
13587          35   20000405       BAL       CLE        False          11
9803           33   20000405       SLN       CHN        False          10
21154          40   20000405       TOR       KCA        False           3
22969          41   20000406       ARI       PHI        False           3
3784           43   20000406       FLO       SFN         True           5
1894           42   20000406       CIN       MIL        False           5
13588          48   20000406       BAL       CLE        False           6
6019           45   20000406       NYN       SDN        False           5
26750          50   20000406       SEA       BOS        False           5
9804           47   20000406       SLN       CHN         True          13
5659           44   20000406       MON       LAN        False          11
15479          49   20000406       MIN       TBA         True           6
21155          52   20000406       TOR       KCA         True           3
19260          51   20000406       TEX       CHA        False           2

       away_score  venue                       venue_name         city  ...  \
0               0  ATL02                     Turner Field      Atlanta  ...
11692           3  ANA01         Angel Stadium of Anaheim      Anaheim  ...
13586           4  BAL12      Oriole Park at Camden Yards    Baltimore  ...
15476           7  MIN03     Hubert H. Humphrey Metrodome  Minneapolis  ...
6017            1  NYC17                     Shea Stadium     New York  ...
5656           10  MON02                  Stade Olympique     Montreal  ...
17369           7  OAK01  Oakland-Alameda County Coliseum      Oakland  ...
19257           4  ARL02    Rangers Ballpark in Arlington    Arlington  ...
21152           4  TOR02                    Rogers Centre      Toronto  ...
3781            4  MIA01                 Sun Life Stadium        Miami  ...
1891            3  CIN08                    Cinergy Field   Cincinnati  ...
9802            1  STL09                 Busch Stadium II    St. Louis  ...
21153           3  TOR02                    Rogers Centre      Toronto  ...
5657           10  MON02                  Stade Olympique     Montreal  ...
19258           8  ARL02    Rangers Ballpark in Arlington    Arlington  ...
22967           4  PHO01                      Chase Field      Phoenix  ...
24858           5  PIT07             Three Rivers Stadium   Pittsburgh  ...
1               5  ATL02                     Turner Field      Atlanta  ...
11693           5  ANA01         Angel Stadium of Anaheim      Anaheim  ...
1892            5  CIN08                    Cinergy Field   Cincinnati  ...
17370           1  OAK01  Oakland-Alameda County Coliseum      Oakland  ...
3782            3  MIA01                 Sun Life Stadium        Miami  ...
15477           5  MIN03     Hubert H. Humphrey Metrodome  Minneapolis  ...
26748           2  SEA03                     Safeco Field      Seattle  ...
2               6  ATL02                     Turner Field      Atlanta  ...
22968           3  PHO01                      Chase Field      Phoenix  ...
24859          11  PIT07             Three Rivers Stadium   Pittsburgh  ...
26749           3  SEA03                     Safeco Field      Seattle  ...
3783           11  MIA01                 Sun Life Stadium        Miami  ...
5658            5  MON02                  Stade Olympique     Montreal  ...
11694           6  ANA01         Angel Stadium of Anaheim      Anaheim  ...
17371           2  OAK01  Oakland-Alameda County Coliseum      Oakland  ...
1893            8  CIN08                    Cinergy Field   Cincinnati  ...
15478           7  MIN03     Hubert H. Humphrey Metrodome  Minneapolis  ...
6018            4  NYC17                     Shea Stadium     New York  ...
19259          12  ARL02    Rangers Ballpark in Arlington    Arlington  ...
13587           7  BAL12      Oriole Park at Camden Yards    Baltimore  ...
9803            4  STL09                 Busch Stadium II    St. Louis  ...
21154           4  TOR02                    Rogers Centre      Toronto  ...
22969           2  PHO01                      Chase Field      Phoenix  ...
3784            4  MIA01                 Sun Life Stadium        Miami  ...
1894            1  CIN08                    Cinergy Field   Cincinnati  ...
13588           2  BAL12      Oriole Park at Camden Yards    Baltimore  ...
6019            8  NYC17                     Shea Stadium     New York  ...
26750           2  SEA03                     Safeco Field      Seattle  ...
9804            3  STL09                 Busch Stadium II    St. Louis  ...
5659            3  MON02                  Stade Olympique     Montreal  ...
15479           7  MIN03     Hubert H. Humphrey Metrodome  Minneapolis  ...
21155           9  TOR02                    Rogers Centre      Toronto  ...
19260           6  ARL02    Rangers Ballpark in Arlington    Arlington  ...

      away_hr  away_fo  away_so  away_bb  away_hbp  latitude  longitude  \
0           2       17        6        1         1   33.7490   -84.3880
11692       1       19        6        5         0   33.8366  -117.9143
13586       0       16        8        7         0   39.2904   -76.6122
15476       0       18        8        0         0   44.9778   -93.2650
6017        1       16        7        2         1   40.7128   -74.0060
5656        2       19        8        2         0   45.5017   -73.5673
17369       4       18        9        3         0   37.8044  -122.2712
19257       4       17        6        4         2   32.7357   -97.1081
21152       4       20        5        0         0   43.6532   -79.3832
3781        0       17        7        1         1   25.7617   -80.1918
1891        1       10        4        1         0   39.1031   -84.5120
9802        3       18        6        7         0   38.6270   -90.1994
21153       2       20        4        4         2   43.6532   -79.3832
5657        0       20        5        5         1   45.5017   -73.5673
19258       2       15        9       10         0   32.7357   -97.1081
22967       3       20        3        0         0   33.4484  -112.0740
24858       1       21        5        3         1   40.4406   -79.9959
1           1       23        4        4         1   33.7490   -84.3880
11693       0       17        9        6         0   33.8366  -117.9143
1892        1       22        5        1         0   39.1031   -84.5120
17370       0       14        9        4         0   37.8044  -122.2712
3782        0       19        6        3         0   25.7617   -80.1918
15477       0       26        1        2         0   44.9778   -93.2650
26748       0       15       12        2         0   47.6062  -122.3321
2           1       20        4        5         2   33.7490   -84.3880
22968       2       17        6        8         0   33.4484  -112.0740
24859       0       24        2        3         0   40.4406   -79.9959
26749       3       15        9        8         1   47.6062  -122.3321
3783        1       20        6        8         0   25.7617   -80.1918
5658        0       19        5        4         1   45.5017   -73.5673
11694       1       19        4        8         1   33.8366  -117.9143
17371       2       18        6        2         0   37.8044  -122.2712
1893        1       22        5        2         1   39.1031   -84.5120
15478       1       21        4        2         0   44.9778   -93.2650
6018        0       17       10        4         0   40.7128   -74.0060
19259       2       18        8        2         0   32.7357   -97.1081
13587       3       18        4        5         1   39.2904   -76.6122
9803        2       19        6        4         0   38.6270   -90.1994
21154       1       20        5        5         1   43.6532   -79.3832
22969       1       22        7        7         0   33.4484  -112.0740
3784        2       16       10        5         0   25.7617   -80.1918
1894        2       15        7        3         0   39.1031   -84.5120
13588       2       18        5        3         0   39.2904   -76.6122
6019        1       20        8        5         1   40.7128   -74.0060
26750       2       19        3        8         0   47.6062  -122.3321
9804        4       16        8        6         1   38.6270   -90.1994
5659        3       19        5        3         1   45.5017   -73.5673
15479       0       19        6        2         1   44.9778   -93.2650
21155       2       25        2        1         1   43.6532   -79.3832
19260       0       23        4        2         0   32.7357   -97.1081

       distance  home_team_distance  away_team_distance
0             0                 0.0                 0.0
11692         0                 0.0                 0.0
13586         0                 0.0                 0.0
15476         0                 0.0                 0.0
6017          0                 0.0                 0.0
5656          0                 0.0                 0.0
17369         0                 0.0                 0.0
19257         0                 0.0                 0.0
21152         0                 0.0                 0.0
3781          0                 0.0                 0.0
1891          0                 0.0                 0.0
9802          0                 0.0                 0.0
21153         0                 0.0                 0.0
5657          0                 0.0                 0.0
19258         0                 0.0                 0.0
22967         0                 0.0                 0.0
24858         0                 0.0                 0.0
1             0                 0.0                 0.0
11693         0                 0.0                 0.0
1892          0                 0.0                 0.0
17370         0                 0.0                 0.0
3782          0                 0.0                 0.0
15477         0                 0.0                 0.0
26748         0                 0.0                 0.0
2             0                 0.0                 0.0
22968         0                 0.0                 0.0
24859         0                 0.0                 0.0
26749         0                 0.0                 0.0
3783          0                 0.0                 0.0
5658          0                 0.0                 0.0
11694         0                 0.0                 0.0
17371         0                 0.0                 0.0
1893          0                 0.0                 0.0
15478         0                 0.0                 0.0
6018          0                 0.0                 0.0
19259         0                 0.0                 0.0
13587         0                 0.0                 0.0
9803          0                 0.0                 0.0
21154         0                 0.0                 0.0
22969         0                 0.0                 0.0
3784          0                 0.0                 0.0
1894          0                 0.0                 0.0
13588         0                 0.0                 0.0
6019          0                 0.0                 0.0
26750         0                 0.0                 0.0
9804          0                 0.0                 0.0
5659          0                 0.0                 0.0
15479         0                 0.0                 0.0
21155         0                 0.0                 0.0
19260         0                 0.0                 0.0

[50 rows x 34 columns]